.banner {
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 2.5rem 2rem;
}
.banner__titulo {
    font-size: 1.125rem;
    font-weight: 700;
}
.banner__texto {
    font-weight: 500;
    margin: 1rem 0;
}
.banner__pesquisa {
    background-color: transparent;
    border: 0.0625rem solid var(--branco);
    color: var(--branco);
    border-radius: 1.5rem;
    padding: 1rem;
    width: 100%;
}
.banner__pesquisa::placeholder {
    font-family: var(--fonte-principal);
    font-size: 0.875rem;
    font-weight: 400;
    text-align: center;
    color: var(--branco);
    background: url("../img/Pesquisa.svg") no-repeat;
}

/* Media queries */
@media screen and (min-width: 1024px) {
    .banner {
        padding: 6rem 2rem 5rem 2rem;
    }
    .banner__titulo {
        font-size: 2.25rem;
    }
    .banner__texto {
    margin: 1rem 0 1.5rem 0;
    }
    .banner__pesquisa {
        width: 50%;
        padding: 1.25rem;
    }
    .banner__pesquisa::placeholder {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1728px) {
    .banner__pesquisa {
        width: 35%;
    }
}