.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1.5rem 0;
}
.topicos__titulo {
    color: var(--branco);
    font-weight: 300;
    margin-bottom: 1.5rem;
}
.topicos__item {
    margin: 1rem 0.5rem;
}
.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.topicos__link {
    padding: 1rem;
    background-color: var(--laranja);
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--branco);
    text-decoration: none;
}

/* Media queries */
@media screen and (min-width: 1024px) {
    .topicos {
        padding: 2.5rem 3.5rem;
    }
    .topicos__titulo {
        font-size: 1.5rem;
    }
    .topicos__lista {
        gap: 2.5rem 1rem;
    }
    .topicos__link {
        font-size: 1.5rem;
        padding: 1.5rem;
    }
}